@model IEnumerable<Product>
<div class="row">
    @foreach (Product item in Model)
    {
        <div class="col-md-3 col-sm-6 c-margin-b-20">
            <div class="c-content-product-2 c-bg-white">
                <div class="c-content-overlay">
                    <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">Sale</div>
                    <div class="c-label c-label-right c-theme-bg c-font-uppercase c-font-white c-font-13 c-font-bold">Mới</div>
                    <div class="c-overlay-wrapper">
                        <div class="c-overlay-content">
                            <a asp-action="Product" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Xem</a>
                        </div>
                    </div>
                    <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url(~/../../../@item.Image);"></div>
                </div>
                <div class="c-info">
                    <p class="c-title c-font-18 c-font-slim">@item.Name</p>
                    <p class="c-price c-font-16 c-font-slim c-font-red">
                        @string.Format("{0:C}", item.Price)
                    </p>
                </div>
                <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group c-border-left c-border-top" role="group">
                        <a onclick="addToCart(@item.Id, 1)" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>