@model string

<div class="c-content-box c-size-md c-bg-parallax" style="background-image: url(/img/content/backgrounds/bg-54.jpg)">
    <div class="container" style="min-height:120px">
        <div class="c-page-title c-center" style="margin-top:70px;">
            <h1 class="c-font-uppercase c-font-sbold" style="color:white;">@Model</h1>
        </div>
    </div>
</div>