@model ProductListViewModel
@{
    ViewData["Title"] = "Sản phẩm";
}
@Html.Partial("Header", (string)ViewBag.CatName ?? "Danh sách sản phẩm")
<div class="container">
    <div class="c-margin-t-30"></div>
    @Html.Partial("ProductTreePartial", Model.Products)
</div>
<div class="container c-margin-b-40 c-center">
    <ul page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
        page-class-selected="c-active" page-url-id="@ViewBag.CatID"
       class="c-content-pagination c-theme">
    </ul>
</div>