@model ProductListViewModel
@{
    ViewData["Title"] = "Kết quả tìm kiếm";
}
@Html.Partial("Header", $"Kết quả tìm kiếm: {ViewBag.Search}")
<div class="container">
    <div class="c-margin-t-30"></div>
    @Html.Partial("ProductTreePartial", Model.Products)
</div>
<div class="container c-margin-b-40 c-center">
    <ul page-model="@Model.PagingInfo" page-action="Search" page-classes-enabled="true"
        page-class-selected="c-active" page-url-search="@ViewBag.Search"
        class="c-content-pagination c-theme"></ul>
</div>