body {
    font-family : 'Segoe UI', sans-serif;
    font-weight: unset;
}
.margin-right-5 {
    margin-right: 5px;
}
.margin-right-10 {
    margin-right: 10px;
}
.c-layout-header .c-cart-menu .c-cart-menu-items {
    max-height: 400px;
}
.product-image-preview {
    height: 50%;
    width: 50%;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}