@using Microsoft.AspNetCore.Identity
@model IEnumerable<Cat>
<li>
    <a href="~/" class="c-active c-link">
        Trang chủ
        <span class="c-arrow c-toggler"></span>
    </a>
</li>
<li class="c-menu-type-classic">
    <a asp-action="List" asp-controller="Home" asp-route-page="1" asp-route-id="" class="c-link dropdown-toggle">
        Loại sách
        <span class="c-arrow c-toggler"></span>
    </a>
    <ul class="dropdown-menu c-menu-type-classic c-pull-left">
        @foreach (Cat item in Model)
        {
            <li class="dropdown-submenu">
                <a asp-action="List" asp-controller="Home" asp-route-id="@item.Id" asp-route-page="1">
                    @item.Name
                    <span class="c-arrow c-toggler"></span>
                </a>
            </li>
        }
    </ul>
</li>
<li>
    <a asp-action="Contact" asp-controller="Home" class="c-link">
        Liên hệ
    </a>
</li>
<li class="c-search-toggler-wrapper">
    <a href="#" class="c-btn-icon c-search-toggler">
        <i class="fa fa-search"></i>
    </a>
</li>
<li class="c-cart-toggler-wrapper">
    <a asp-action="Index" asp-controller="Cart" class="c-btn-icon c-cart-toggler">
        <i class="icon-handbag c-cart-icon"></i>
        <span id="cartNumber" class="c-cart-number c-theme-bg">@ViewBag.cartNumber</span>
    </a>
</li>
@if (User.Identity.IsAuthenticated)
{
    <li>
        <a asp-action="Index" asp-controller="Account" asp-route-page="1" class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-white c-btn-circle c-btn-uppercase c-btn-sbold">
            <i class="icon-user"></i> Tài khoản
        </a>
    </li>
    <li>
        <a asp-action="Logout" asp-controller="Account" asp-route-returnUrl="@Url.RouteUrl(ViewContext.RouteData.Values)" class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-white c-btn-circle c-btn-uppercase c-btn-sbold">
            Đăng xuất
        </a>
    </li>
}
else
{
    <li>
        <a href="javascript:;" data-toggle="modal" data-target="#login-form" class="c-btn-border-opacity-04 c-btn btn-no-focus c-btn-header btn btn-sm c-btn-border-1x c-btn-white c-btn-circle c-btn-uppercase c-btn-sbold">
            <i class="icon-user"></i> Đăng nhập
        </a>
    </li>
}
