@model ProductFormViewModel
@{
    ViewData["Title"] = "Quản trị";
    IEnumerable<Cat> Cat = (IEnumerable<Cat>)ViewBag.Cat;
}
@Html.Partial("Header", "Quản trị")
<div class="container">
    @Html.Partial("AdminMenuPartial")
    <div class="c-layout-sidebar-content ">
        <!-- BEGIN: PAGE CONTENT -->
        <!-- BEGIN: CONTENT/SHOPS/SHOP-ORDER-HISTORY-2 -->
        <div class="c-content-title-1">
            <h3 class="c-font-uppercase c-font-bold">Chỉnh sửa sản phẩm</h3>
        </div>
        <div class="row c-margin-b-40 c-order-history-2 margin-right-10">
            <form asp-action="Product" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="product.Id" />
                <div class="form-group">
                    <label asp-for="product.Name">Tên</label>
                    <div><span asp-validation-for="product.Name" class="text-danger"></span></div>
                    <input asp-for="product.Name" class="form-control c-square c-theme" />
                </div>
                <div class="form-group">
                    <label asp-for="product.Describe">Mô tả</label>
                    <div><span asp-validation-for="product.Describe" class="text-danger"></span></div>
                    <textarea style="min-height:150px;" asp-for="product.Describe" class="form-control c-square c-theme"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="product.CatId">Loại</label>
                    <div><span asp-validation-for="product.CatId" class="text-danger"></span></div>
                    <select asp-for="product.CatId" class="form-control c-square c-theme" asp-items="@(new SelectList(Cat,"Id","Name"))"></select>
                </div>
                <div class="form-group">
                    <label asp-for="product.Price">Giá</label>
                    <div><span asp-validation-for="product.Price" class="text-danger"></span></div>
                    <input asp-for="product.Price" class="form-control c-square c-theme" />
                </div>
                <div class="form-group">
                    <label asp-for="product.Quantity">Số lượng</label>
                    <div><span asp-validation-for="product.Quantity" class="text-danger"></span></div>
                    <input asp-for="product.Quantity" class="form-control c-square c-theme" />
                </div>
                <div class="form-group">
                    <div><label asp-for="product.Image">Ảnh</label></div>
                    <input asp-for="product.Image" type="hidden"/>
                    <div class="product-image-preview">
                        <img class="product-image-preview" src="@Model.product?.Image">
                    </div>
                </div>
                <div class="form-group c-margin-t-10">
                    <label asp-for="img">Ảnh mới</label>
                    <input asp-for="img" type="file"/>
                </div>
                <div class="text-center">
                    <button class="btn btn-lg c-btn-blue c-btn-square" type="submit">Lưu</button>
                    <a asp-action="Index" class="btn btn-lg c-btn-dark c-btn-square c-btn-border-2x">Hủy</a>
                </div>
            </form> 
        </div>
        <!-- END: CONTENT/SHOPS/SHOP-ORDER-HISTORY-2 -->
        <!-- END: PAGE CONTENT -->
    </div>
</div>