@model ProductFormViewModel
@{
    ViewData["Title"] = "Quản trị";
}
<!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
<div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
    <div class="container">
        <div class="c-page-title c-pull-left">
            <h3 class="c-font-uppercase c-font-sbold">Quản trị</h3>
        </div>
        <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
            <li>
                <a asp-action="Index" asp-controller="Admin">Quản trị</a>
            </li>
        </ul>
    </div>
</div>
<!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
<div class="container">
    @Html.Partial("AdminMenuPartial")
    <div class="c-layout-sidebar-content ">
        <!-- BEGIN: PAGE CONTENT -->
        <!-- BEGIN: CONTENT/SHOPS/SHOP-ORDER-HISTORY-2 -->
        <div class="c-content-title-1">
            <h3 class="c-font-uppercase c-font-bold">Chỉnh sửa sản phẩm</h3>
        </div>
        <div class="row c-margin-b-40 c-order-history-2 margin-right-10">
            <form asp-action="Product" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="product.Id" />
                <div class="form-group">
                    <label asp-for="product.Name">Tên</label>
                    <div><span asp-validation-for="product.Name" class="text-danger"></span></div>
                    <input asp-for="product.Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="product.Describe">Mô tả</label>
                    <div><span asp-validation-for="product.Describe" class="text-danger"></span></div>
                    <textarea style="min-height:150px;" asp-for="product.Describe" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="product.CatId">Loại</label>
                    <div><span asp-validation-for="product.CatId" class="text-danger"></span></div>
                    <input asp-for="product.CatId" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="product.Price">Giá</label>
                    <div><span asp-validation-for="product.Price" class="text-danger"></span></div>
                    <input asp-for="product.Price" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="product.Quantity">Số lượng</label>
                    <div><span asp-validation-for="product.Quantity" class="text-danger"></span></div>
                    <input asp-for="product.Quantity" class="form-control" />
                </div>
                <div class="form-group">
                    <div><label asp-for="product.Image">Ảnh</label></div>
                    <input asp-for="product.Image" type="hidden"/>
                    <div class="product-image-preview">
                        <img class="product-image-preview" src="/@Model.product?.Image">
                    </div>
                </div>
                <div class="form-group c-margin-t-10">
                    <label asp-for="img">Ảnh mới</label>
                    <input asp-for="img" type="file"/>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Lưu</button>
                    <a asp-action="Index" class="btn btn-default">Hủy</a>
                </div>
            </form> 
        </div>
        <!-- END: CONTENT/SHOPS/SHOP-ORDER-HISTORY-2 -->
        <!-- END: PAGE CONTENT -->
    </div>
</div>