<footer class="c-layout-footer c-layout-footer-4 c-bg-footer-8">
    <div class="c-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 c-footer-4-p-right">
                    <div class="c-content-title-1">
                        <h3 class="c-font-uppercase c-font-bold c-font-white c-border">
                            BOOK
                            <span class="c-theme-font">SHOP</span>
                        </h3>
                    </div>
                    <p class="c-about"> Trang bán sách trực tuyến với những đầu sách đa dạng, giá cả cạnh tranh cùng dịch vụ ưu đãi cho khách hàng.</p>
                    <div class="c-links">
                        <ul class="c-nav">
                            <li>
                                <a class="c-active c-theme-border c-theme-font" href="/">Trang chủ</a>
                            </li>
                            <li>
                                <a asp-action="List" asp-controller="Home" asp-route-page="1">Loại sách</a>
                            </li>
                            <li>
                                <a asp-action="Contact" asp-controller="Home" >Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                    <p class="c-contact">
                        101/70 Bùi Minh Trực, P5, Q8
                        <br> Phone: 0943 252 265
                        <br> Fax: 0943 252 265
                    </p>
                    <ul class="c-socials">
                        <li>
                            <a href="#">
                                <i class="icon-social-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-social-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-social-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-social-dribbble"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 c-footer-4-p-left">
                    <div class="c-feedback">
                        <h3 class="c-font-thin">Liên hệ với chúng tôi</h3>
                        <form action="#">
                            <input type="text" placeholder="Tên" class="form-control">
                            <input type="text" placeholder="Email" class="form-control">
                            <textarea rows="8" name="message" placeholder="Nội dung ..." class="form-control"></textarea>
                            <button type="submit" class="btn c-btn-white c-btn-border-2x c-btn-uppercase btn-lg c-btn-bold c-btn-square">Gửi</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>